canvas {
  padding: 0;
  margin: 0 auto;
  display: block;
}

header img {
  width: 400px;
  margin: 0 auto;
  display: block;
}

header {
  // height: 50px;
}

html {
  background-color: #404040;
//   background: url(../img/bg/plant-bg.png) no-repeat center center fixed;
//   background-size: cover;
//   height: 100%;
//   overflow: hidden;
}